<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <title>{{title}}</title>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/photo.jpg">
    </div>
    {{>footer}}
</body>

</html>